/*-------------------------------------------*/
/*
/*-------------------------------------------*/
header h1 { margin: 0; }

.sen { border: 1px solid #ff0000; }

.vkEdit_btn { display: inline-block; padding: 2px 5px; margin: 0 2px; font-size: 10px; line-height: 14px; background-color: #555; color: #f5f5f5; cursor: pointer; }

.vkEdit_btnSet { display: block; overflow: hidden; float: left; }

.vkEdit_btnSet.hidden { display: none; }

.vkEdit_row_hover { border: 1px solid #900; border-radius: 2px; }

.vkEdit_editPanel_row { display: block; overflow: hidden; background-color: #900; padding: 2px 8px; border-radius: 2px; }

.vkEdit_column_hover { border: 1px solid #333; border-radius: 2px; }

.vkEdit_editPanel_col { display: block; overflow: hidden; background-color: #333; padding: 2px 8px; border-radius: 2px; }

.vkEdit_column_active textarea { width: 100%; }
