@charset "utf-8";
@import "compass";

@import "reset_bootstrap";

$panel_color : #333;
$rowPanel_color : #900;
.sen { border:1px solid #ff0000;}

.vkEdit_btn { display:inline-block;padding:2px 5px; margin:0 2px;font-size:10px;line-height: 14px; background-color: #555;color:#f5f5f5;cursor: pointer; }
.vkEdit_btnSet { display:block; overflow:hidden;float:left; }
.vkEdit_btnSet.hidden { display: none; }

.vkEdit_row_hover { border:1px solid $rowPanel_color; }
.vkEdit_editPanel_row {display:block; overflow:hidden;background-color: $rowPanel_color;padding: 2px 8px;height:0; }

.vkEdit_column_hover { border:1px solid $panel_color; }
.vkEdit_editPanel_col { display:block; overflow:hidden;background-color: $panel_color;padding: 2px 8px;height:0;  }
.vkEdit_column_active textarea { width:99%;padding:0.5%; }

.column { border:1px dotted #333;margin:1px; }